section.commercial-advantages
  .title-wrap
    h2.residential-advantages__title.title
      span.head-line Преимущества для
      |  бизнеса
  .advantages
    .container
      .advantages__items.row
        .advantages__item.col-20.col-sm
          .advantages__img
            +svg("infrastructure")
          p.advantages__title
            | Собственная<br>инфраструктура
        .advantages__item.col-20.col-sm
          .advantages__img
            +svg("fourwayarrow")
          p.advantages__title
            | любой<br>размер
        .advantages__item.col-20.col-sm
          .advantages__img
            +svg("key")
          p.advantages__title
            | Адаптация под<br>ваш бизнес
        .advantages__item.col-20.col-sm
          .advantages__img
            +svg("underground-parking")
          p.advantages__title
            | Подземный паркинг
        .advantages__item.col-20.col-sm
          .advantages__img
            +svg("location-center")
          p.advantages__title
            | Расположение<br>в центре города
