section.real-estate.commercial-overview
  .container
    article.real-estate__residential
      .row
        .image-wrapper
          .residential-overview__img
            img(src="../img/commercial-overview.jpg" alt="")
        .short-description.col
          h2.short-description__title.title
            span.head-line Начни свой бизнес вместе с grand&nbsp;palace
          p.short-description__text Хотите купить офис или торговое помещение под бизнес в новостройке? В таком случае точно стоит обратить внимание на Grand Palace.
          p.short-description__text Портфель коммерческой недвижимости компании состоит из различных нежилых помещений различного функционального назначения на цокольных этажах новостроек, а также торговых и офисных площадей в торговых и бизнес-центрах в составе жилого комплекса.
          p.short-description__text Будь то стрит-ритейл, кафе, рестораны, фитнес-центр, или любой бизнес сферы услуг и сервисов, мы поможем подобрать идеальное помещение под бизнес с учетом ваших целей и задач.
