footer.footer
  .container
    .footer-info.info-items
      .footer-media.info-item
        p.footer__email
          a.email-link(href='mailto:office@grandpalace.km.ua')
            +svg('email', 31, 23)
            |office@grandpalace.km.ua
        p.footer__social.social-list
          a.social-link(href='https://www.facebook.com/GrandPalace.km')
            +svg('fb', 31, 31)
          a.social-link(href='https://www.instagram.com/grand_palace_km/')
            object(class='icon' type='image/svg+xml' data='../img/instagram.svg' width='31' height='31')
      .footer-address.info-item
        .footer-address__wrap
          +svg('pin-footer', 30, 40)
          p Отделение продаж
          p г. Хмельницкий, ул. Подольская, 115
      .footer__phone.phone-list.info-item
        a.phone-link(href='tel:+380670098700')
          +svg('phone', 19, 29)
          |(067)&nbsp;00-98-700
        a.phone-link(href='tel:+380670098700')
          +svg('phone', 19, 29)
          |(067)&nbsp;00-98-700
    .copyright
      p &copy; Copyright by &laquo;Grand Palace&raquo; 2012—2021
