section.hero
  .container
    .row
      .left-side.col
        p.tagline Твое яркое начало
        h1.hero__title
          span.text Современный комфортный жилой комплекс с широким спектром удобств гармонично совмещенный с ТРЦ.
          span.text Использование крыши для прогулочных зон отдыха.
