section.overview
  span.ancor#overview
  .overview-btn__container
    span.btn.btn-arrow.btn-arrow-prev
      +svg('arrow')
    span.btn.btn-arrow.btn-arrow-next
      +svg('arrow')
  .overview-slider
    section.comfort.overview__items.active
      .content-wrapper
        .container
          .content-wrap.content-section
            .content-box
              h2.title.content__title
                span.head-line Ваши
                |  удобства
              .content__description
                p Подземный паркинг на 148 мест с лифтами для попадания непосредственно к лифтовому холлу жилой части.
                p 70 мест для парковки авто вокруг комплекса. Для Вашего удобства будет размещена профессиональная химчистка для ухода за Вашими вещами.
      .container
        .overview__items-container
          .overview__items-box
            article.overview__item
              .item-header
                .item-header__text Офис
                .item-header__icon
                  +svg('office')
              .content
                .content-bg.bg-office
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Офис
                        .content__description
                          p На 3 этаже ТРЦ находятся офисные помещения. Здесь удобно проводить встречи с клиентами и организовывать переговоры с партнерами. Расположение в центре города обеспечит комфортные условия работы для всех сотрудников компании.
            article.overview__item
              .item-header
                .item-header__text Паркинг
                .item-header__icon
                  +svg('underground-parking')
              .content
                .content-bg.bg-parking
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Паркинг
                        .content__description
                          p Забудьте о проблемах с парковкой авто. Для Вашего удобства оборудован подземный паркинг на 148 мест с лифтами для попадания непосредственно к лифтовому холлу жилой части. Также в наличии 70 мест для парковки авто вокруг комплекса.
            article.overview__item
              .item-header
                .item-header__text Химчистка
                .item-header__icon
                  +svg('dry-cleaning')
              .content
                .content-bg.bg-drycleaning
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Химчистка
                        .content__description
                          p Позаботьтесь о своей одежде. Для того, чтобы одежда долго сохраняла первоначальный вид, яркость красок и была безопасна для здоровья, необходимо обеспечить ей правильный уход. Для Вашего удобства будет размещена профессиональная химчистка для ухода за вашими вещами.
    section.leisure.overview__items
      .content-wrapper
        .container
          .content-wrap.content-section
            .content-box
              h2.title.content__title
                span.head-line Ваш
                |  досуг
              .content__description
                p Досуг является способом социализации, залогом здоровья и благосостояния людей. Отдыхая, мы расслабляемся, самовиражаемся и развиваемся. Учеными доказано, что организованный, спланированный досуг - это условие для хорошего, позитивного общения в семье.
      .container
        .overview__items-container
          .overview__items-box
            article.overview__item
              .item-header
                .item-header__text Рестораны
                .item-header__icon
                  +svg('restaurants')
              .content
                .content-bg.bg-restaurants
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Рестораны
                        .content__description
                          p В быстром темпе нашей жизни у нас не всегда есть время для приготовления пищи. Посетите наши рестораны для завтрака, обеда или ужина. На Ваш выбор есть три ресторана, фаст-фуд и детское кафе. Выбирайте любой - на свой вкус и не тратьте время на пробки по дороге в ресторан.
            article.overview__item
              .item-header
                .item-header__text Покупки
                .item-header__icon
                  +svg('purchases')
              .content
                .content-bg.bg-purchases
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Покупки
                        .content__description
                          p Совершайте покупки не тратя времени на дорогу. Торгово-развлекательный центр расположен в самом центре города. ТРЦ включает в себя бутиковую сеть, продуктовый супермаркет, отдел электроники и мебельный салон. Комфортный шопинг в современном ТРЦ для всей семьи.
            article.overview__item
              .item-header
                .item-header__text Парк
                .item-header__icon
                  +svg('park')
              .content
                .content-bg.bg-park
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Парк
                        .content__description
                          p На 4 этаже между 1-2 очередь размещается открытый парк размером 1150 м<sup>2</sup> с видом на улицу Свободы, высаженный газоном, декоративными деревьями и зонами отдыха. Детская площадка находится на территории дома.
    section.health.overview__items
      .content-wrapper
        .container
          .content-wrap.content-section
            .content-box
              h2.title.content__title
                span.head-line Ваше
                |  здоровья
              .content__description
                p Любая минимальная, однако регулярная физическая активность очень полезна для здоровья. Физическая активность помогает предотвратить болезни сердца, диабета, остеопороза, а также множества других заболеваний. Мы позаботимся о Вашем здоровье, выбирайте вид спорта который подходит именно Вам.
      .container
        .overview__items-container
          .overview__items-box
            article.overview__item
              .item-header
                .item-header__text Медичний<br>центр
                .item-header__icon
                  +svg('medical-center')
              .content
                .content-bg.bg-medicalcenter
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.content__title
                          span.head-line Медицинский
                          |  центр
                        .content__description
                          p Получите медицинские услуги высокого качества в условиях максимального комфорта. Посетите комплекс для получения необходимых медицинских услуг для поддержания и заботы за Вашим здоровьям. Вашим комфортом и самочувствием занимаются специалисты, которые полностью отвечают за ваше здоровье.
            article.overview__item
              .item-header
                .item-header__text Детская<br>площадка
                .item-header__icon
                  +svg('playground-main')
              .content
                .content-bg.bg-playground
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.content__title
                          span.head-line Детская
                          |  площадка
                        .content__description
                          p Детская площадка - это одно из первых мест, кроме дома, где малыш будет активно познавать окружающий мир, знакомиться с другими детьми, учиться взаимодействовать и общаться с ними, играть, развлекаться, развиваться, находить и отстаивать свое место в социуме.
            article.overview__item
              .item-header
                .item-header__text Фітнес<br>центр
                .item-header__icon
                  +svg('fitness')
              .content
                .content-bg.bg-fitness
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.content__title
                          span.head-line Фитнес
                          |  центр
                        .content__description
                          p Фитнес клуб - это эффективный способ найти прекрасную форму, отличное настроение и уверенность в себе. Уютная атмосфера нашего клуба и квалифицированный персонал помогут Вам в кратчайшие сроки достичь желаемого результата. К Вашим услугам тренажерный зал, фитнес зал, зал бокса, фрешбар, массажный кабинет.
