section.real-estate
  .container
    article.real-estate__residential
      .row
        .short-description.col
          h2.short-description__title.title
            span.head-line Жилая
            |  недвижимость
          p.short-description__text Индивидуальное отопление, свободная планировка, большая площадь освещения комнат, скоростные лифты "Otis", круглосуточная охрана и консьерж услуги, возможность напрямую лифтами попадать в подземный паркинг и в парковую зону на 4 этаже, пользование фитнес центром.
          a.short-description__btn.btn(href='residential.html') Подробнее
        .images-slider__items.col
          span.images-slider__item.slider-item-1.active
          span.images-slider__item.slider-item-2
          span.images-slider__item.slider-item-3
          span.images-slider__item.slider-item-4
          span.images-slider__item.slider-item-5
    article.real-estate__commercial
      .row
        .short-description.col
          h2.short-description__title.title
            span.head-line Коммерческая
            |  недвижимость
          p.short-description__text Большой выбор помещений под коммерческий бизнес. Выгодное расположение в самом центре города. Адаптация площади под любой бизнес. Будь то стрит-ритейл, кафе, рестораны, фитнес-центр, или любой бизнес сферы услуг и сервисов, мы поможем подобрать идеальное помещение под бизнес с учетом ваших целей и задач.
          a.short-description__btn.btn(href='commercial.html') Подробнее
        .images-slider__items.col
          span.images-slider__item.slider-item-1
          span.images-slider__item.slider-item-2
          span.images-slider__item.slider-item-3
          span.images-slider__item.slider-item-4
          span.images-slider__item.slider-item-5.active
