section.real-estate.residential-overview
  .container
    article.real-estate__residential
      .row
        .image-wrapper
          .residential-overview__img
            img(src="../img/residential-overview.jpg", alt="Grand Palace - комфортный жилой комплекс")
        .short-description.col
          h2.short-description__title.title
            span.head-line Современный комфортный жилой комплекс
          p.short-description__text Это место, где вы сможете жить, работать, отдыхать, заниматься спортом и ходить на шопинг, не покидая своего жилища.
          p.short-description__text Закрытый внутренний двор с распланированными зонами отдыха и детскими площадками придутся по вкусу всем, кто ценит уют, который так необходим в большом городе.
          p.short-description__text Для вашего удобства мы строим подземный паркинг.
