section.real-estate.commercial-overview
  .container
    article.real-estate__residential
      .row
        .image-wrapper
          .residential-overview__img
            img(src="img/commercial-overview.jpg" alt="")
        .short-description.col
          h2.short-description__title.title
            span.head-line Розпочни свій бізнес разом з grand&nbsp;palace
          p.short-description__text Хочете купити офіс або торгове приміщення під бізнес в новобудові? В такому випадку точно варто звернути увагу на Grand Palace.
          p.short-description__text Портфель комерційної нерухомості компанії складається з різноманітних нежитлових приміщень різного функціонального призначення на цокольних поверхах новобудов, а також торгових та офісних площ в торгово-розважальних і бізнес-центрах у складі житлового комплексу.
          p.short-description__text Незважаючи на те, чи то стріт-рітейл, кафе, ресторани, фітнес-центр, чи будь-який бізнес сфери послуг і сервісів, ми допоможемо підібрати ідеальне приміщення під бізнес з урахуванням ваших цілей і завдань.
