section.commercial-plan
  .container
    .title-wrap
      h2.commercial-plan__title.title
        span.head-line план комерційного приміщення
    .plan
      p.short-description Перегляньте повне планування житлового комплексу та підберіть для себе приміщення залежно від поверху, квадратури та ціни.
      .plan-nav
        .plan-nav__header
          form.filter(action="")
            .filter__items
              .filter__queue.filter__item
                p.filter__title Черга
                .filter-queue__items
                  input(id="queue1" type="radio" name="queue" value="0" data-exploitation = true)
                  label.filter-queue__item(for="queue1") 1
                  input.currentSlideBtn(id="queue2" type="radio" name="queue" value="1" data-exploitation = false)
                  label.filter-queue__item(for="queue2") 2
                  input(id="queue3" type="radio" name="queue" value="2" data-exploitation = false)
                  label.filter-queue__item(for="queue3") 3
                  p.exploitation введено в експлуатацію
              .filter__floor.filter__item
                p.filter__title Поверх
                details.custom-select
                  summary.radio-items
                    - var n = 2
                    input.radio-item.js-floor(type="radio" name="floor" id="floor1" title="1" value="1" checked)
                    while n <= 4
                      input.radio-item.js-floor(type="radio" name="floor" id="floor"+n title=n value=n++)
                  ul.list-items
                    - var k = 1
                    while k <= 4
                      li.list-item
                        label(for="floor"+k)= k++
        .plan-nav__title
          h3 II черга
        .plan-nav__img
          .floor(data-floor-number="1")
            .img.js-slider
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
          .floor(data-floor-number="2")
            .img.js-slider
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
          .floor(data-floor-number="3")
            .img.js-slider
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
          .floor(data-floor-number="4")
            .img.js-slider
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
              .slide
                img(src="img/residential-plan.jpg" alt="Grand Palace - план житлового поверху")
          
          .btn.btn-arrow.btn-arrow-prev
            span 
              span I черга
              +svg('arrow')
          .btn.btn-arrow.btn-arrow-next
            span 
              span III черга
              +svg('arrow')
        .plan-nav__info
          .info-wrap
            p.info-sold
              span.info-sold__title Продано -&nbsp;
              span.info-sold__list 1a, 1e
            p.info-for-sale
              span.info-for-sale__title Доступно для&nbspпродажу&nbsp-&nbsp;
              span.info-for-sale__list 1c, 1d, 1b
