section.construction-progress
  span.ancor#progress
  .container
    h2.construction-progress__title.title
      span.head-line Хід
      |  будівництва
    .galery-wrapper
      .construction-progress__galery.row
        .construction-progress__img
          img(src="img/construction-progress1.jpeg" alt="Grand Palace - хід будівництва")
        .construction-progress__img
          img(src="img/construction-progress2.jpeg" alt="Grand Palace - хід будівництва")
        .construction-progress__img
          img(src="img/construction-progress3.jpeg" alt="Grand Palace - хід будівництва")
        .construction-progress__img
          img(src="img/construction-progress4.jpeg" alt="Grand Palace - хід будівництва")
    .btn-wrap
      a.btn.construction-progress__btn(href="https://www.instagram.com/grand_palace_km/" target="_blank") Більше в інстаграм
