section.documentation
  span.ancor#documentation
  .container
    h2.documentation__title.title.title--one-word
      span.head-line Документація
    .documentation__items.row
      figure.documentation__item.documentation-item
        .documentation-item__icon
          +svg("document")
        figcaption Договір оренди
        a.documentation-item__btn.btn(href="document/pdf/dogovir-orendy-zemelnyh-dilyanok.pdf" target="_blank") Переглянути
      figure.documentation__item.documentation-item
        .documentation-item__icon
          +svg("document")
        figcaption Дозвіл на виконання будівельних робіт
        a.documentation-item__btn.btn(href="document/pdf/dozvil-na-vykonannya-budivelnyh-robit.pdf" target="_blank") Переглянути
      figure.documentation__item.documentation-item
        .documentation-item__icon
          +svg("document")
        figcaption Технічні умови
        a.documentation-item__btn.btn(href="document/pdf/tehnichni-umovy.pdf" target="_blank") Переглянути
