section.hero
  .container
    .row
      .left-side.col
        p.tagline Твій яскравий початок
        h1.hero__title
          span.text Сучасний комфортний житловий комплекс з широким спектром зручностей гармонійно поєднаний з ТРЦ.
          span.text Використання даху для прогулянкових зон відпочинку.
