section.overview
  span.ancor#overview
  .overview-btn__container
    span.btn.btn-arrow.btn-arrow-prev
      +svg('arrow')
    span.btn.btn-arrow.btn-arrow-next
      +svg('arrow')
  .overview-slider
    section.comfort.overview__items.active
      .content-wrapper
        .container
          .content-wrap.content-section
            .content-box
              h2.title.content__title
                span.head-line Ваші
                |  зручності
              .content__description
                p Підземний паркінг на 148 місць з ліфтами для потрапляння безпосередньо до ліфтового холу житлової частини.
                p 70 місць для паркування авто навколо комплексу. Для Вашої зручності буде розміщена професійна хімчистка для догляду за Вашими речами.
      .container
        .overview__items-container
          .overview__items-box
            article.overview__item
              .item-header
                .item-header__text Офіс
                .item-header__icon
                  +svg('office')
              .content
                .content-bg.bg-office
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Офіс
                        .content__description
                          p На 3 поверсі ТРЦ знаходяться офісні приміщення. Тут зручно проводити зустрічі з клієнтами та організовувати переговори з партнерами. Розташування у центрі міста забезпечить комфортні умови роботи для усіх працівників компанії.
            article.overview__item
              .item-header
                .item-header__text Паркінг
                .item-header__icon
                  +svg('underground-parking')
              .content
                .content-bg.bg-parking
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Паркінг
                        .content__description
                          p Забудьте про проблеми з паркуванням авто. Для Вашої зручності обладнаний підземний паркінг на 148 місць з ліфтами для потрапляння безпосередньо до ліфтового холу житлової частини. Також є в наявності 70 місць для паркування авто навколо комплексу.
            article.overview__item
              .item-header
                .item-header__text Хімчистка
                .item-header__icon
                  +svg('dry-cleaning')
              .content
                .content-bg.bg-drycleaning
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Хімчистка
                        .content__description
                          p Подбайте про свій одяг. Для того, щоб одяг довго зберігав початковий вигляд, яскравість фарб і був безпечним для здоров’я, необхідно забезпечити йому правильний догляд. Для Вашої зручності буде розміщена професійна хімчистка для догляду за вашими речами.
    section.leisure.overview__items
      .content-wrapper
        .container
          .content-wrap.content-section
            .content-box
              h2.title.content__title
                span.head-line Ваше
                |  дозвілля
              .content__description
                p Дозвілля є способом соціалізації, запорукою здоров’я і добробуту людей. Відпочиваючи, ми розслабляємось, самовиражаємось і розвиваємось. Вченими доведено, що організоване, сплановане дозвілля - це умова для доброго, позитивного спілкування у сім'ї.
      .container
        .overview__items-container
          .overview__items-box
            article.overview__item
              .item-header
                .item-header__text Ресторани
                .item-header__icon
                  +svg('restaurants')
              .content
                .content-bg.bg-restaurants
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Ресторани
                        .content__description
                          p У швидкому темпі нашого життя ми не завжди маємо час для готування їжі. Завітайте до наших ресторанів для сніданку, обіду чи вечері. На Ваш вибір є три ресторани, фаст-фуд та дитяче кафе. Обирайте будь - який на свій смак та не витрачайте час на затори дорогою до ресторану.
            article.overview__item
              .item-header
                .item-header__text Покупки
                .item-header__icon
                  +svg('purchases')
              .content
                .content-bg.bg-purchases
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Покупки
                        .content__description
                          p Здійснюйте покупки не витрачаючи часу на дорогу. Торгово-розважальний центр розташований у самому центрі міста. ТРЦ включає в себе бутікову мережу, продуктовий супермаркет, відділ електроніки та меблевий салон. Комфортний шопінг у сучасному ТРЦ для усієї родини.
            article.overview__item
              .item-header
                .item-header__text Парк
                .item-header__icon
                  +svg('park')
              .content
                .content-bg.bg-park
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.title--one-word.content__title
                          span.head-line Парк
                        .content__description
                          p На 4 поверсі між 1-2 чергою розміщується відкритий парк розміром 1150 м<sup>2</sup> з видом на вулицю Свободи, висаджений газоном, декоративними деревами та зонами відпочинку. Дитячий майданчик знаходиться на прибудинковій території.
    section.health.overview__items
      .content-wrapper
        .container
          .content-wrap.content-section
            .content-box
              h2.title.content__title
                span.head-line Ваше
                |  здоров’я
              .content__description
                p Будь-яка мінімальна, проте регулярна фізична активність дуже корисна для здоров’я. Фізична активність допомагає запобігти хворобам серця, діабету, остеопорозу, а також безлічі інших захворювань. Ми подбаємо про Ваше здоров’я, обирайте вид спорту який підходить саме Вам.
      .container
        .overview__items-container
          .overview__items-box
            article.overview__item
              .item-header
                .item-header__text Медичний<br>центр
                .item-header__icon
                  +svg('medical-center')
              .content
                .content-bg.bg-medicalcenter
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.content__title
                          span.head-line Медичний
                          |  центр
                        .content__description
                          p Отримайте  медичні послуги найвищої якості в умовах максимального комфорту. Відвідайте комплекс для отримання необхідних медичних послуг для підтримки і турботи за Вашим станом здоров'я. Вашим комфортом та самопочуттям опікуються фахівці, які повністю відповідають за ваше здоров’я. Для них ваша безпека на першому місці.
            article.overview__item
              .item-header
                .item-header__text Дитячий<br>майданчик
                .item-header__icon
                  +svg('playground-main')
              .content
                .content-bg.bg-playground
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.content__title
                          span.head-line Дитячий
                          |  майданчик
                        .content__description
                          p Дитячий майданчик - це одне з найперших місць, крім будинку, де малюк буде активно пізнавати навколишній світ, знайомитися з іншими дітьми, вчитися взаємодіяти та спілкуватися з ними, бавитися, розважатися, розвиватися, знаходити та відстоювати своє місце в соціумі.
            article.overview__item
              .item-header
                .item-header__text Фітнес<br>центр
                .item-header__icon
                  +svg('fitness')
              .content
                .content-bg.bg-fitness
                .content-wrapper
                  .container
                    .content-wrap
                      .content-box
                        h3.title.content__title
                          span.head-line Фітнес
                          |  центр
                        .content__description
                          p Фітнес клуб - це ефективний спосіб знайти прекрасну форму, відмінний настрій і впевненість у собі. Затишна атмосфера нашого клубу і кваліфікований персонал допоможуть Вам у найкоротші терміни досягти бажаного результату. До Ваших послуг тренажерний зал, фітнес зал, зал боксу, фрешбар, масажний кабінет.
