section.residential-advantages
  .title-wrap
    h2.residential-advantages__title.title
      span.head-line Переваги для
      |  життя
  .advantages
    .container
      .advantages__items.row
        .advantages__item.col-20.col-sm
          .advantages__img
            +svg("infrastructure")
          p.advantages__title
            | Власна<br>інфраструктура
        .advantages__item.col-20.col-sm
          .advantages__img
            +svg("rest-area")
          p.advantages__title
            | Зона відпочинку
        .advantages__item.col-20.col-sm
          .advantages__img
            +svg("playground")
          p.advantages__title
            | Дитячий майданчик
        .advantages__item.col-20.col-sm
          .advantages__img
            +svg("underground-parking")
          p.advantages__title
            | Підземний паркінг
        .advantages__item.col-20.col-sm
          .advantages__img
            +svg("location-center")
          p.advantages__title
            | Розташування<br>в центрі міста
